/* colors controler */
:root {
    --color-primary-white: #FFFFFF;
    --color-primary-dark: #000000;
    --color-primary-blue: #2B7FFF;
    --color-primary-darkblue: #011C44;


    --color-secondary-grey1: #4A4A4A;
    --color-secondary-grey2: #747272;
    --color-secondary-dark: #011F4A;
    --color-secondary-yelow: #FFD02B;
    

}

/* Body */
ul {
    list-style-type: none;
}

.body {
    color: var(--color-primary-darkblue);
    font-family: Play, sans-serif;
    font-weight: 700;
    line-height: normal;

    
}
.accent {
    color: var(--color-primary-blue);

}

.hero-title {
    color: var(--color-primary-blue);
    font-size: 140px;
    font-weight: 700;
    line-height: 114px;
    text-transform: capitalize;
    font-family: Play, sans-serif;
}